[include]
  path = ~/.gitconfig.local
[includeIf "gitdir:~/.dotfiles/"]
  path = ~/.gitconfig.private
[init]
  defaultBranch = main
[include]
  path = ~/.gitalias
  path = ~/.config/delta/config
[core]
  editor = nvim
  excludesfile = ~/.gitignore.global
  pager = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  navigate = true
  hyperlinks = true
  line-numbers = true
  side-by-side = true
  light = false 
  features = decorations
  syntax-theme = "tokyonight_night"
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
[merge]
  ff = only
  conflictstyle = diff3
[diff]
	colorMoved = default
[pull]
  rebase = false
[fetch]
  prune = true
[commit]
  template = ~/.gitmessage
