[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	template = ~/.gitmessage
	verbose = true
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	fsmonitor = true
	pager = delta
	untrackedCache = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[include]
	path = ~/.gitconfig.local
[includeIf "gitdir:~/.dotfiles/"]
	path = ~/.gitconfig.private
[include]
	path = ~/.gitalias
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	ff = only
	conflictstyle = zdiff3
	tool = fugitive
[mergetool]
	keepBackup = false
[mergetool "fugitive"]
	cmd = 'nvim -f -c "Gvdiffsplit!" "$MERGED"'
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	autoupdate = true
	enabled = true
[tag]
	sort = version:refname
[delta]
	dark = true
	hyperlinks = true
	line-numbers = true
	navigate = true
	syntax-theme = "rose-pine"

# vim: set ts=4 sw=4 filetype=gitconfig
