(
    selected_tab: Rgb(242, 217, 34),
    command_fg: White,
    selection_bg: Rgb(229, 50, 101),
    cmdbar_extra_lines_bg: Rgb(229, 50, 101),
    disabled_fg: Rgb(252, 252, 250),
    diff_line_add: Rgb(150, 227, 9),
    diff_line_delete: Rgb(229, 50, 101),
    diff_file_added: Rgb(169, 220, 118),
    diff_file_removed: Rgb(255, 97, 136),
    diff_file_moved: Rgb(171, 157, 242),
    diff_file_modified: Rgb(242, 217, 34),
    commit_hash: Rgb(136, 56, 255),
    commit_time: Rgb(90, 222, 196),
    commit_author: Rgb(150, 227, 9),
    danger_fg: Rgb(229, 50, 101),
    push_gauge_bg: Rgb(229, 50, 101),
    push_gauge_fg: Reset,
)
