.vscode
.project
.settings
.classpath
.idea
*.iml
out
*.out
*.iws
*.ipr
.gradletasknamecache
.jenv.sh
.sdkmanrc
.DS_Store
*.pyc
.git/
/bower_components/
/node_modules/
db/*.sqlite3
*~
/log
/tmp
/vendor
log/*.log
tmp/**/*
