#!/bin/zsh
#
# .aliases - Set whatever shell aliases you want.
#

### shell

alias zshrc="nvim ~/.zshrc"
alias shellclean="rm -rf ~/.aliases.zwc ~/.personio.plugin.zsh.zwc ~/.zcompdump* ~/.zcomet  ~/.cache/gitstatus ~/.cache/p10k-* ~/.local/share/zsh"

### Misc
alias lzg=lazygit
alias lzd=lazydocker
alias lzv="NVIM_APPNAME=lazyvim nvim"

