#!/bin/zsh
#
# .aliases - Set whatever shell aliases you want.
#

### shell

alias zshrc="nvim ~/.zshrc"
alias shellclean="rm -rf ~/.aliases.zwc ~/.personio.plugin.zsh.zwc ~/.zcompdump* ~/.zcomet  ~/.cache/gitstatus ~/.cache/p10k-* ~/.local/share/zsh"

### Misc
alias lzg=lazygit

### ls

if (( ${+commands[gls]} )); then
  alias ls="gls"
fi
alias ls="ls -F --color"
alias l="ls -lA"
alias ll="ls -l"
alias la='ls -A'
